.card{
    margin: 50px 0px;
    display: flex;
    border-radius: 5px;
    width: 90%;
    height: 60px;
    background-color: rgba(240, 248, 255, 0.479);
    transition: all 0.5s;
}

.textbox{
    background-color: transparent;
    width: 80%;
    font-size: 25px;
}
.add{
    margin-right: 20px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: end;
    width: 20%;
    cursor: pointer;
    
}
.image{
    width: 35px;
    height: 35px;
    transition: all 0.5s;
}
